<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{- $title := .Site.Title }}
{{- if not .IsHome }}{{ $title = printf "%s|%s" .Title .Site.Title }}{{ end }}
<title>{{ $title }}</title>
{{- $desc := .Params.description | default .Summary | default .Site.Params.description }}
<meta name="description" content="{{ $desc | plainify | truncate 150 }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $desc | plainify | truncate 150 }}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<link rel="canonical" href="{{ .Permalink }}">
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
{{ range .AlternativeOutputFormats -}}
<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}" title="{{ $.Site.Title }}">
{{ end -}}
{{ with resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}
